{{#if this.data-table.isLoading}}
  <tr><td colspan="100%" class="is-loading-data">Aan het laden...</td></tr>
{{else}}
  {{#if this.content}}
    {{#each this.wrappedItems as |wrapper index|}}
      <tr
        class={{if
          (this.includes this.data-table.selection wrapper.item)
          "selected"
        }}
        {{on "click" (fn (this.optional this.onClickRow) wrapper.item)}}
        {{!template-lint-disable no-invalid-interactive}}
      >
        {{#if this.enableSelection}}
          <td class="is-selectable">
            <input
              type="checkbox"
              checked={{wrapper.isSelected}}
              {{on "click" (fn this.updateSelection wrapper)}}
              {{!TODO: add a label}}
              {{!template-lint-disable require-input-label}}
            />
          </td>
        {{/if}}
        {{#if this.enableLineNumbers}}
          <td>{{this.add index this.offset}}</td>
        {{/if}}
        {{#if (has-block)}}
          {{yield wrapper.item}}
        {{else}}
          <AuDataTable::DefaultDataTableContentBody
            @item={{wrapper.item}}
            @data-table={{this.data-table}}
          />
        {{/if}}
      </tr>
    {{/each}}
  {{else}}
    <tr><td colspan="100%" class="au-c-data-table__message"><p
        >{{this.noDataMessage}}</p></td></tr>
  {{/if}}
{{/if}}