{{! template-lint-disable table-groups }}
<div class="au-c-data-table__wrapper">
  <table class="au-c-data-table__table {{this.tableClass}}" ...attributes>
    {{#if (has-block)}}
      {{yield
        (hash
          header=(component
            "au-data-table-content-header"
            enableSelection=this.enableSelection
            enableLineNumbers=this.enableLineNumbers
            data-table=this.data-table
          )
          body=(component
            "au-data-table-content-body"
            content=this.content
            enableSelection=this.enableSelection
            enableLineNumbers=this.enableLineNumbers
            noDataMessage=this.noDataMessage
            onClickRow=(optional this.onClickRow)
            data-table=this.data-table
          )
        )
      }}
    {{else}}
      {{component
        "au-data-table-content-header"
        enableSelection=this.enableSelection
        enableLineNumbers=this.enableLineNumbers
        data-table=this.data-table
      }}
      {{component
        "au-data-table-content-body"
        content=this.content
        enableSelection=this.enableSelection
        enableLineNumbers=this.enableLineNumbers
        noDataMessage=this.noDataMessage
        onClickRow=(optional this.onClickRow)
        data-table=this.data-table
      }}
    {{/if}}
  </table>
</div>