{{#if this.firstColumn}}
  {{#if this.linkedRoute}}
    <td>
      <AuLink @route={{this.linkedRoute}} @model={{this.item}}>{{get
          this.item
          this.firstColumn
        }}</AuLink>
    </td>
  {{else}}
    <td>{{get this.item this.firstColumn}}</td>
  {{/if}}
{{/if}}
{{#each this.otherColumns as |field|}}
  <td>
    {{! This should be based on the type of the field }}
    {{get this.item this.field}}
  </td>
{{/each}}
{{yield}}