<div class="au-c-pagination">
  <p>
    <span class="au-u-hidden-visually">Rij </span><strong>{{startItem}} - {{endItem}}</strong> van {{total}}
  </p>
  <ul class="au-c-pagination__list">
    {{#if hasMultiplePages}}
      {{#unless isFirstPage}}
        <li class="au-c-pagination__list-item">
          <button {{action "changePage" links.prev}} class="au-c-button au-c-button--tertiary">
            <AuIcon @icon="nav-left" @alignment="left" /> vorige
            <span class="au-u-hidden-visually"> {{pageSize}} rijen</span>
          </button>
        </li>
      {{/unless}}
      {{#unless isLastPage}}
        <li class="au-c-pagination__list-item">
          <button {{action "changePage" links.next}} class="au-c-button au-c-button--tertiary">
            volgende
            <span class="au-u-hidden-visually"> {{pageSize}} rijen</span>
            <AuIcon @icon="nav-right" @alignment="right" />
          </button>
        </li>
      {{/unless}}
    {{/if}}
  </ul>
</div>