<div class="au-c-pagination">
  <p>
    <span class="au-u-hidden-visually">Rij </span><strong>{{this.startItem}}
      -
      {{this.endItem}}</strong>
    van
    {{this.totalItems}}
  </p>
  <ul class="au-c-pagination__list">
    {{#if this.hasMultiplePages}}
      {{#unless this.isFirstPage}}
        <li class="au-c-pagination__list-item">
          <AuButton
            @skin="link"
            @icon="nav-left"
            {{action "changePage" this.links.prev}}
          >
            vorige
            <span class="au-u-hidden-visually"> {{this.pageSize}} rijen</span>
          </AuButton>
        </li>
      {{/unless}}
      {{#unless this.isLastPage}}
        <li class="au-c-pagination__list-item">
          <AuButton
            @skin="link"
            @icon="nav-right"
            @iconAlignment="right"
            {{action "changePage" this.links.next}}
          >
            volgende
            <span class="au-u-hidden-visually"> {{this.pageSize}} rijen</span>
          </AuButton>
        </li>
      {{/unless}}
    {{/if}}
  </ul>
</div>