<span
  class="au-c-data-table__header-title au-c-data-table__header-title--sortable
    {{if this.isSorted ' is-active'}}"
>
  {{this.label}}
  {{#if (eq this.order "desc")}}
    <button
      role="button"
      {{action "inverseSorting"}}
      class="au-c-data-table__sort"
    >
      <span class="au-u-hidden-visually">Oplopend sorteren</span>
      <AuIcon @icon="nav-up" />
    </button>
  {{else if (eq this.order "asc")}}
    <button
      role="button"
      {{action "inverseSorting"}}
      class="au-c-data-table__sort"
    >
      <span class="au-u-hidden-visually">Aflopend sorteren</span>
      <AuIcon @icon="nav-down" />
    </button>
  {{else}}
    <button
      role="button"
      {{action "inverseSorting"}}
      class="au-c-data-table__sort"
    >
      <span class="au-u-hidden-visually">Sorteren</span>
      <AuIcon @icon="nav-up-down" />
    </button>
  {{/if}}
</span>