<AuMainHeader @brandLink="https://www.vlaanderen.be/nl" @homeRoute="index" @appTitle="Ember-appuniversum">
  <ul class="au-c-list-horizontal">
    <li class="au-c-list-horizontal__item">
      <a href="https://github.com/ember-learn/ember-cli-addon-docs"
        class="au-c-link au-c-link--secondary">
        Powered by AddonDocs
      </a>
    </li>
    <li class="au-c-list-horizontal__item">
      <a href="https://github.com/appuniversum/ember-appuniversum" class="au-c-link au-c-link--secondary" target="_blank" rel="noopener noreferrer">
        <AuIcon @icon="github" @alignment="left" />
        Github
      </a>
    </li>
    <li class="au-c-list-horizontal__item">
      {{#docs-header/link on-click=(action (toggle "isShowingVersionSelector" this))}}
        <div class="au-d-dropdown__toggle">
          <div class="au-d-dropdown__name">
            {{#if (eq currentVersion.key latestVersionName)}}
              {{#if currentVersion.tag}}
                {{currentVersion.tag}}
              {{else}}
                Latest
              {{/if}}
            {{else}}
              {{currentVersion.name}}
            {{/if}}
          </div>
          <div class="au-d-dropdown__button" data-version-selector>
            <AuIcon @icon="nav-up-down" />
            <span class="au-u-hidden-visually">Version</span>
          </div>
        </div>
      {{/docs-header/link}}
    </li>
  </ul>
</AuMainHeader>

{{#if isShowingVersionSelector}}
  {{docs-header/version-selector on-close=(action (mut isShowingVersionSelector false))}}
{{/if}}