{{#if this.isVisible}}
  <div
    class="au-c-alert {{this.skin}} {{this.size}}"
    role="alert"
    data-test-alert
    ...attributes
  >
    {{#if this.icon}}
      <div
        class="au-c-alert__icon"
        aria-hidden={{if @iconVisible "false" "true"}}
        data-test-alert-icon
      >
        <AuIcon @icon={{this.icon}} />
      </div>
    {{/if}}
    <div class="au-c-alert__content">
      {{#if this.title}}
        <p class="au-c-alert__title" data-test-alert-title>{{this.title}}</p>
      {{/if}}
      <div class="au-c-alert__message" data-test-alert-message>{{yield}}</div>
    </div>
    {{#if @closable}}
      <button
        class="au-c-alert__close"
        type="button"
        data-test-alert-close
        {{on "click" this.closeAlert}}
      >
        <AuIcon @icon="cross" @size="large" />
        <span class="au-u-hidden-visually">Sluit alert</span>
      </button>
    {{/if}}
  </div>
{{/if}}