<div class="au-c-accordion {{this.skin}} {{this.reverse}}" ...attributes>
  <AuToolbar
    @nowrap={{true}}
    @reverse={{@reverse}}
    {{on "click" this.openAccordion}}
    data-test-accordion-toggle
    as |Group|
  >
    <Group>
      <div>
        <AuButton
          @skin="tertiary"
          aria-expanded="{{if this.accordionOpen 'true' 'false'}}"
          data-test-accordion-button
        >
          {{@buttonLabel}}
        </AuButton>
        {{#if @subtitle}}
        <p data-test-accordion-subtitle>
          {{@subtitle}}
        </p>
        {{/if}}
      </div>
    </Group>
    <Group>
      {{#if this.accordionOpen}}
        <AuIcon
          @icon={{this.iconOpen}}
          @alignment="left"
          @size="large"
          @ariaHidden={{true}}
          data-test-accordion-icon-open={{this.iconOpen}}
        />
        <span class="au-u-hidden-visually">
          Open accordion
        </span>
      {{else}}
        <AuIcon
          @icon={{this.iconClosed}}
          @alignment="left"
          @size="large"
          @ariaHidden={{true}}
          data-test-accordion-icon-closed={{this.iconClosed}}
        />
        <span class="au-u-hidden-visually">
          Sluit accordion
        </span>
      {{/if}}
    </Group>
  </AuToolbar>
  {{#if this.accordionOpen}}
    <AuContent {{auto-focus}} tabindex="0" data-test-accordion-content>
      {{#if this.loading}}
        <AuLoader data-test-accordion-loader />
      {{else}}
        {{yield}}
      {{/if}}
    </AuContent>
  {{/if}}
</div>