{{#if this.alertVisible}}
<div class="au-c-alert {{this.alertSkin}} {{this.alertSize}}" role="alert" ...attributes>
  {{#if @alertIcon}}
  <div class="au-c-alert__icon" aria-hidden="{{if @iconVisible "false" "true"}}">
    <AuIcon @icon="{{@alertIcon}}" />
  </div>
  {{/if}}
  <div class="au-c-alert__content">
    {{#if @alertTitle}}
    <p class="au-c-alert__title">{{@alertTitle}}</p>
    {{/if}}
    <div class="au-c-alert__message">{{yield}}</div>
  </div>
  {{#if @closable}}
  <button type="button" {{on "click" this.closeAlert}} class="au-c-alert__close">
    <AuIcon @icon="cross" @size="large" />
    <span class="au-u-hidden-visually">Sluit alert</span>
  </button>
  {{/if}}
</div>
{{/if}}