<button
  class="au-c-button {{this.width}} {{this.size}} {{this.skin}} {{this.alert}} {{this.loading}} {{this.disabled}}" disabled={{@disabled}}
  type="button"
  ...attributes
>
  {{#if @icon}}
    {{#if (eq @iconAlignment "left")}}
    <AuIcon @icon="{{@icon}}" @alignment="left" />
    {{/if}}
    {{#unless @iconAlignment}}
    <AuIcon @icon="{{@icon}}" />
    {{/unless}}
  {{/if}}
  {{#if @hideText}}
  <span class="au-u-hidden-visually">{{yield}}</span>
  {{else}}
  {{yield}}
  {{/if}}
  {{#if @icon}}
    {{#if (eq @iconAlignment "right")}}
    <AuIcon @icon="{{@icon}}" @alignment="right" />
    {{/if}}
  {{/if}}
</button>
