<button
  class="au-c-button {{this.width}} {{this.size}} {{this.skin}} {{this.alert}} {{this.loading}} {{this.disabled}} {{if (and @icon @hideText) 'au-c-button--icon-only'}} {{if @wrap 'au-c-button--wrap'}}" disabled={{@disabled}}
  type="button"
  ...attributes
>
  {{#unless this.loading}}
    {{#if (and @icon (eq this.iconAlignment "left"))}}
      <AuIcon @icon="{{@icon}}" />
    {{/if}}
  {{/unless}}
  {{#if @hideText}}
    {{#if this.loading}}
      <span class="au-u-hidden-visually">Aan het laden</span><AuLoader @padding="small" />
    {{else}}
      <span class="au-u-hidden-visually">{{yield}}</span>
    {{/if}}
  {{else}}
    {{#if this.loading}}
      {{this.loadingMessage}} <AuLoader @padding="small" />
    {{else}}
      {{yield}}
    {{/if}}
  {{/if}}
  {{#unless this.loading}}
    {{#if (and @icon (eq this.iconAlignment "right"))}}
      <AuIcon @icon="{{@icon}}" />
    {{/if}}
  {{/unless}}
</button>
