<label for="{{@label}}" class="au-c-control au-c-control--checkbox">
  <input id="{{@label}}" value="{{@value}}" disabled="{{@disabled}}" checked="{{@checked}}" type="checkbox" class="au-c-control__input" ...attributes>
  <span class="au-c-control__indicator"></span>
  {{@label}}
</label>
