<label for="{{@identifier}}" class="au-c-control au-c-control--radio {{this.disabled}}">
  <input name="{{@name}}" id="{{@identifier}}" value="{{@value}}" disabled={{@disabled}} type="radio" class="au-c-control__input" {{on "change" this.onChange}} ...attributes>
  <span class="au-c-control__indicator"></span>
  {{@label}}
</label>
