<label for="{{@label}}" class="au-c-control au-c-control--radio">
  <input id="{{@label}}" value="{{@value}}" disabled="{{@disabled}}" checked="{{@checked}}" name="radio" type="radio" class="au-c-control__input">
  <span class="au-c-control__indicator"></span>
  {{@label}}
</label>