<label for="{{@id-for}}" class="au-c-control au-c-control--checkbox {{this.disabled}}">
  <input id="{{@id-for}}" value="{{@value}}" disabled="{{@this.disabled}}" checked="{{@checked}}" type="checkbox" class="au-c-control__input" ...attributes>
  <span class="au-c-control__indicator"></span>
  {{@label}}
</label>
