<label for="{{@identifier}}" class="au-c-control au-c-control--checkbox {{this.disabled}}">
  <input name="{{@name}}" value="{{@value}}" id="{{@identifier}}" disabled={{@disabled}} type="checkbox" class="au-c-control__input" {{on "change" this.onChange}} ...attributes>
  <span class="au-c-control__indicator"></span>
  {{@label}}
</label>
