<article class="au-o-box au-c-card au-c-card--fill {{this.flex}} {{this.expandable}} {{this.divided}} {{this.textCenter}} {{this.standOut}}" ...attributes>
  <div
    class="au-c-card__header {{if this.expandable "au-c-card__header--clickable"}}"
    role="button"
    {{on "click" this.openSection}}
  >
    {{yield (hash
      header = (component 'au-card-header')
    )}}
    {{#if this.expandable}}
      <AuButtonGroup>
        <AuButton class="au-c-card__toggle" @size="small" @skin="tertiary" aria-hidden="true" focusable="false" aria-expanded="{{if this.sectionOpen "true" "false"}}" >
          {{#if this.sectionOpen}}
            <AuIcon @icon="nav-up" @alignment="left" @size="large" @ariaHidden="true" />
            <span class="au-u-hidden-visually au-c-card__toggle-false">
              Verberg
            </span>
          {{else}}
            <AuIcon @icon="nav-down" @alignment="left" @size="large" @ariaHidden="true" />
            <span class="au-u-hidden-visually au-c-card__toggle-true">
              Toon
            </span>
          {{/if}}
        </AuButton>
      </AuButtonGroup>
    {{/if}}
  </div>

  {{#if this.expandable}}
    {{#if this.sectionOpen}}
      <AuContent class="au-c-card__content" tabindex="0">
      {{yield (hash
        content = (component 'au-card-content')
      )}}
      </AuContent>
    {{/if}}
  {{else}}
    <AuContent class="au-c-card__content">
      {{yield (hash
        content = (component 'au-card-content')
      )}}
    </AuContent>
  {{/if}}

  {{yield (hash
    footer = (component 'au-card-footer')
  )}}
</article>
