<div class="au-date-picker">
  {{#if @label}}
    <AuLabel for="date">{{@label}}</AuLabel>
  {{/if}}

  <duet-date-picker {{on 'duetChange' @onChange}} {{prop localization=this.localization}} {{prop dateAdapter=this.adapter}} adapter={{@adapter}} localization={{@localization}} disabled={{@disabled}} buttonLabel={{@buttonLabel}} identifier={{@id}} value={{@value}} min={{@min}} max={{@max}} first-day-of-week={{@first-day}} ...attributes></duet-date-picker>
</div>