<div class="au-date-picker">
<label for="date">{{@label}}</label>
  <duet-date-picker identifier={{@id}} value={{@value}} min={{@min}} max={{@max}} first-day-of-week={{@first-day}}></duet-date-picker>
</div>