<div class="au-c-dropdown" ...attributes>
  <AuButton
    {{this.reference}}
    @skin={{this.skin}}
    @size={{@size}}
    @icon={{this.icon}}
    @iconAlignment={{this.iconAlignment}}
    @hideText={{@hideText}}
    @alert={{@alert}}
    aria-haspopup="true"
    aria-expanded="{{if this.dropdownOpen 'true' 'false'}}"
    type="button"
    {{on "click" this.toggleDropdown}}
    data-test-dropdown-button
    data-au-dropdown-toggle
  >
    <span class="au-c-dropdown__name" data-test-dropdown-title>
      {{@title}}
    </span>
  </AuButton>
  {{#if this.dropdownOpen}}
    <div
      {{this.floatingUi
        this.referenceElement
        this.arrowElement
        defaultPlacement=this.alignment
        options=this.floatingUiOptions
      }}
      class="au-c-dropdown__floater"
    >
      <div {{this.arrow}} class="au-c-dropdown__arrow"></div>
      <div
        {{focus-trap
          isActive=this.dropdownOpen
          shouldSelfFocus=true
          focusTrapOptions=(hash
            clickOutsideDeactivates=this.clickOutsideDeactivates
          )
        }}
        {{on "click" this.closeDropdown}}
        class="au-c-dropdown__menu"
        role="menu"
        tabindex="-1"
      >
        {{yield}}
      </div>
    </div>
  {{/if}}
</div>
