<div class="pager">
  <ul class="pager__list">
    <li class="pager__element u-hidden-mobile">
      <span class="u-visually-hidden">Rij </span><strong>{{startItem}} - {{endItem}}</strong> van {{total}}
    </li>
    {{#if hasMultiplePages}}
      {{#unless isFirstPage}}
        <li class="pager__element">
          <a {{action "changePage" links.prev}} role="button">
            {{wu-icon "vi-arrow" class="vi-u-180deg vi-u-s"}} vorige
            <span class="u-visually-hidden"> {{pageSize}} rijen</span>
          </a>
        </li>
      {{/unless}}
      {{#unless isLastPage}}
        <li class="pager__element">
          <a {{action "changePage" links.next}} role="button">
            volgende
            <span class="u-visually-hidden"> {{pageSize}} rijen</span>
            {{wu-icon "vi-arrow" class="vi-u-s"}}
          </a>
        </li>
      {{/unless}}
    {{/if}}
  </ul>
</div>
