<div class="au-c-datepicker {{this.alignment}}" data-test-au-date-picker>
  {{#if @label}}
    <AuLabel
      @error={{@error}}
      @warning={{@warning}}
      for={{this.id}}
      data-test-au-date-picker-label
    >{{@label}}</AuLabel>
  {{/if}}

  {{#if this.isInitialized}}
    <duet-date-picker
      class={{this.error}}
      disabled={{@disabled}}
      buttonLabel={{@buttonLabel}}
      identifier={{this.id}}
      value={{this.value}}
      min={{this.min}}
      max={{this.max}}
      first-day-of-week={{@first-day}}
      data-test-au-date-picker-component
      {{on "duetChange" this.handleDuetDateChange}}
      {{au-props localization=this.localization dateAdapter=this.adapter}}
      ...attributes
    ></duet-date-picker>
  {{/if}}
</div>