<div class="au-date-picker">
  {{#if @label}}
    <label for="date">{{@label}}</label>
  {{/if}}

  <duet-date-picker {{prop localization=this.localization}} {{prop dateAdapter=this.adapter}} adapter={{@adapter}} localization={{@localization}} disabled={{@disabled}} buttonLabel={{@buttonLabel}} identifier={{@id}} value={{@value}} min={{@min}} max={{@max}} first-day-of-week={{@first-day}} ></duet-date-picker>
</div>