<div data-table class="au-c-data-table">
  {{#if (has-block)}}

    <div class="au-c-data-table__actions au-c-data-table__actions--top">
      {{#if this.enableSearch}}
        <AuDataTableTextSearch
          @filter={{this.filter}}
          @auto={{this.autoSearch}}
        />
      {{/if}}
      {{yield
        (hash menu=(component "au-data-table-menu" data-table=this))
        this
      }}
    </div>

    {{yield
      (hash
        content=(component
          "au-data-table-content"
          content=this.content
          noDataMessage=this.noDataMessage
          enableSelection=this.enableSelection
          enableLineNumbers=this.enableLineNumbers
          onClickRow=this.onClickRow
          data-table=this
        )
      )
      this
    }}
  {{else}}
    {{#if this.enableSearch}}
      <div class="au-c-data-table__actions au-c-data-table__actions--top">
        <AuDataTableTextSearch
          @filter={{this.filter}}
          @auto={{this.autoSearch}}
        />
      </div>
    {{/if}}
    <AuDataTableContent
      @content={{this.content}}
      @noDataMessage={{this.noDataMessage}}
      @enableSelection={{this.enableSelection}}
      @enableLineNumbers={{this.enableLineNumbers}}
      @onClickRow={{this.onClickRow}}
      @data-table={{this}}
    />
  {{/if}}

  {{#if this.showPagination}}
    <div class="au-c-data-table__actions au-c-data-table__actions--bottom">
      <AuDataTableNumberPagination
        @page={{this.page}}
        @size={{this.size}}
        @nbOfItems={{this.content.length}}
        @sizeOptions={{this.sizeOptions}}
        @total={{this.content.meta.count}}
        @links={{this.content.meta.pagination}}
      />
    </div>
  {{/if}}
</div>