<div data-table class="au-c-data-table">
  {{#if (has-block)}}

    <div class="au-c-data-table__actions au-c-data-table__actions--top">
      {{#if this.enableSearch}}
        {{au-data-table-text-search filter=filter auto=autoSearch}}
      {{/if}}
      {{yield
        (hash menu=(component "au-data-table-menu" data-table=this))
        this
      }}
    </div>

    {{yield
      (hash
        content=(component
          "au-data-table-content"
          content=this.content
          noDataMessage=this.noDataMessage
          enableSelection=this.enableSelection
          enableLineNumbers=this.enableLineNumbers
          onClickRow=(optional this.onClickRow)
          data-table=this
        )
      )
      this
    }}
  {{else}}
    {{#if this.enableSearch}}
      <div class="au-c-data-table__actions au-c-data-table__actions--top">
        {{au-data-table-text-search filter=filter auto=autoSearch}}
      </div>
    {{/if}}
    {{component
      "au-data-table-content"
      content=this.content
      noDataMessage=this.noDataMessage
      enableSelection=this.enableSelection
      enableLineNumbers=this.enableLineNumbers
      onClickRow=(optional this.onClickRow)
      data-table=this
    }}
  {{/if}}

  {{#if this.content}}
    <div class="au-c-data-table__actions au-c-data-table__actions--bottom">
      {{au-data-table-number-pagination
        page=this.page
        size=this.size
        nbOfItems=this.content.length
        sizeOptions=this.sizeOptions
        total=this.content.meta.count
        links=this.content.meta.pagination
      }}
    </div>
  {{/if}}
</div>