<div class="au-c-dropdown" ...attributes>
  <AuButton
    @skin={{this.skin}}
    @size={{@size}}
    @icon={{this.icon}}
    @iconAlignment={{this.iconAlignment}}
    @hideText={{@hideText}}
    @alert={{@alert}}
    aria-haspopup="true"
    aria-expanded="{{if this.dropdownOpen 'true' 'false'}}"
    type="button"
    {{on "click" this.toggleDropdown}}
    data-test-dropdown-button
    data-au-dropdown-toggle
  >
    <span class="au-c-dropdown__name" data-test-dropdown-title>
      {{this.title}}
    </span>
  </AuButton>
  <div
    class="au-c-dropdown__menu {{this.alignment}} {{if this.dropdownOpen 'is-visible'}}"
    role="menu"
    tabindex="-1"
    {{focus-trap
      isActive=this.dropdownOpen
      shouldSelfFocus=true
      focusTrapOptions=(hash
        clickOutsideDeactivates=this.clickOutsideDeactivates
      )
    }}
    {{on "click" this.closeDropdown}}
  >
    {{yield}}
  </div>
</div>