{{#if (eq @level "1")}}
  <h1 class="au-c-heading {{this.skin}}" ...attributes>
    {{yield}}
  </h1>
{{else if (eq @level "2")}}
  <h2 class="au-c-heading {{this.skin}}" ...attributes>
    {{yield}}
  </h2>
{{else if (eq @level "3")}}
  <h3 class="au-c-heading {{this.skin}}" ...attributes>
    {{yield}}
  </h3>
{{else if (eq @level "4")}}
  <h4 class="au-c-heading {{this.skin}}" ...attributes>
    {{yield}}
  </h4>
{{else if (eq @level "5")}}
  <h5 class="au-c-heading {{this.skin}}" ...attributes>
    {{yield}}
  </h5>
{{else if (eq @level "6")}}
  <h6 class="au-c-heading {{this.skin}}" ...attributes>
    {{yield}}
  </h6>
{{else}}
  <h1 class="au-c-heading {{this.skin}}" ...attributes>
    {{yield}}
  </h1>
{{/if}}
