{{#if @icon}}
  <span class="au-c-input-wrapper {{this.iconAlignment}}">
    {{#if @mask}}
    <Inputmask class="au-c-input au-c-input--mask {{this.error}} {{this.warning}} {{this.width}} {{this.disabled}}" @value={{@value}} @mask={{@mask}} @placeholder={{@maskPlaceholder}} disabled={{@disabled}} ...attributes/>
    {{else}}
    <Input class="au-c-input {{this.error}} {{this.warning}} {{this.width}} {{this.disabled}}" @value={{@value}} disabled={{@disabled}} ...attributes/>
    {{/if}}
    {{#if (eq @iconAlignment "right")}}
    <AuIcon @icon="{{@icon}}" @alignment="right" />
    {{else}}
    <AuIcon @icon="{{@icon}}" @alignment="left" />
    {{/if}}
  </span>
{{else}}
{{#if @mask}}
<Inputmask class="au-c-input au-c-input--mask {{this.error}} {{this.warning}} {{this.width}} {{this.disabled}}" @value={{@value}} @mask={{@mask}} @placeholder={{@maskPlaceholder}} disabled={{@disabled}} ...attributes/>
{{else}}
<Input class="au-c-input {{this.error}} {{this.warning}} {{this.width}} {{this.disabled}}" @value={{@value}} disabled={{@disabled}} ...attributes/>
{{/if}}
{{/if}}