{{#if @icon}}
  <span class="au-c-input-wrapper {{this.iconAlignment}} {{this.width}}">
    {{#if this.isMasked}}
      <input
        type={{this.type}}
        value={{@value}}
        class={{this.classes}}
        disabled={{@disabled}}
        ...attributes
        {{on "input" this.handleChange}}
        {{this.inputmaskModifier inputmaskOptions=this.inputmaskOptions}}
      />
    {{else}}
      <Input
        @value={{@value}}
        @type={{this.type}}
        class={{this.classes}}
        disabled={{@disabled}}
        ...attributes
      />
    {{/if}}
    {{#if (eq @iconAlignment "right")}}
      <AuIcon @icon={{@icon}} @alignment="right" />
    {{else}}
      <AuIcon @icon={{@icon}} @alignment="left" />
    {{/if}}
  </span>
{{else}}
  {{#if this.isMasked}}
    <input
      type={{this.type}}
      value={{@value}}
      class={{this.classes}}
      disabled={{@disabled}}
      ...attributes
      {{on "input" this.handleChange}}
      {{this.inputmaskModifier inputmaskOptions=this.inputmaskOptions}}
    />
  {{else}}
    <Input
      @value={{@value}}
      @type={{this.type}}
      class={{this.classes}}
      disabled={{@disabled}}
      ...attributes
    />
  {{/if}}
{{/if}}