<div class="au-o-grid au-o-grid--tiny" ...attributes>
  {{#each @icons as |icon|}}
    <div class="au-o-grid__item au-u-1-3@small au-u-1-5@medium au-u-flex">
      <AuIcon
        @icon={{icon.name}}
        @size={{@size}}
        @alignment={{@alignment}}
        @ariaHidden={{@ariaHidden}}
      />
      <p>{{icon.name}}</p>
    </div>
  {{/each}}
</div>