<LinkTo
  @route={{@route}}
  @models={{au-link-to-models @model @models}}
  @query={{this.queryParams}}
  class="{{this.skin}} {{this.active}} {{this.width}} {{if @hideText 'au-c-link--icon-only'}}"
  ...attributes
>
  {{#if (and @icon (eq this.iconAlignment "left"))}}
    <AuIcon @icon="{{@icon}}"/>
  {{/if}}
  {{#if @hideText}}
    <span class="au-u-hidden-visually">{{yield}}</span>
  {{else}}
    {{yield}}
  {{/if}}
  {{#if (and @icon (eq this.iconAlignment "right"))}}
    <AuIcon @icon="{{@icon}}" />
  {{/if}}
</LinkTo>
