{{#if @modalOpen}}
  {{#in-element this.destinationElement}}
    <div class="au-c-modal-backdrop {{if @modalOpen 'is-visible'}}"></div>
    <div
      id="{{@id}}"
      class={{concat
        "au-c-modal "
        this.size
        this.padding
        this.overflow
        (if @modalOpen " is-visible")
      }}
      role="dialog"
      aria-describedby={{concat "au-c-modal-title-" @id}}
      tabindex="-1"
      {{focus-trap
        isActive=@modalOpen
        additionalElements=this.additionalElements
        focusTrapOptions=(hash
          initialFocus=this.initialFocus
          fallbackFocus=this.fallbackFocus
          escapeDeactivates=this.handleEscapePress
        )
      }}
      data-test-modal
      ...attributes
    >
      <div class="au-c-modal__header" data-test-modal-header>
        <h1
          id="au-c-modal-title-{{@id}}"
          class="au-c-modal__title"
          tabindex="-1"
          data-test-modal-title
        >
          {{#if (has-block "title")}}
            {{yield to="title"}}
          {{else}}
            {{@title}}
          {{/if}}
        </h1>
        <button
          class="au-c-modal__close {{unless this.isClosable 'is-disabled'}}"
          type="button"
          disabled={{not this.isClosable}}
          data-test-modal-close
          {{on "click" this.handleCloseClick}}
        >
          <AuIcon @icon="cross" @size="large" />
          <span class="au-u-hidden-visually">Venster sluiten</span>
        </button>
      </div>

      {{#if (or (has-block "title") (has-block "body") (has-block "footer"))}}
        {{#if (has-block "body")}}
          <div class="au-c-modal__body" data-test-modal-body>
            {{yield to="body"}}
          </div>
        {{/if}}

        {{#if (has-block "footer")}}
          <div class="au-c-modal__footer" data-test-modal-footer>
            {{yield to="footer"}}
          </div>
        {{/if}}
      {{else}}
        {{yield
          (hash
            Body=(component "au-modal-body")
            Footer=(component "au-modal-footer")
          )
        }}
      {{/if}}
    </div>
  {{/in-element}}
{{/if}}