<header class="au-c-main-header">
  <div class="au-c-main-header__title-group">
    <AuNavigationNarrator />
    <AuBrand @brandLink="{{@brandLink}}" />
    {{#if @homeRoute}}
    <LinkTo {{on "click" this.headerLinkFocus}} @route="{{@homeRoute}}" class="au-c-main-header__title au-c-main-header__title--link">
      {{@appTitle}}
    </LinkTo>
    {{else}}
    <p class="au-c-main-header__title">
      {{@appTitle}}
    </p>
    {{/if}}
    <a href="#content" class="au-c-main-header__skiplink">Naar de hoofdinhoud</a>
  </div>
  <nav class="au-c-main-header__actions">
    <ul class="au-c-list-horizontal">
      {{#if @contactRoute}}
      <li class="au-c-list-horizontal__item">
        <AuLink @linkRoute="{{@contactRoute}}" @skin="secondary">
          <AuIcon @icon="question-circle" @alignment="left" />
          Contacteer ons
        </AuLink>
      </li>
      {{/if}}
      <li class="au-c-list-horizontal__item">
        {{yield}}
      </li>
    </ul>
  </nav>
</header>