{{#if @modalOpen}}
  {{#in-element this.destinationElement}}
    <div class="au-c-modal-backdrop {{if @modalOpen "is-visible"}}" role="presentation"></div>
    <div id="{{@id}}" class="au-c-modal {{this.size}} {{if @modalOpen "is-visible"}}" role="dialog" aria-describedby="au-c-modal-title-{{@id}}" tabindex="-1" {{focus-trap isActive=this.modalOpen focusTrapOptions=(hash onDeactivate=(fn this.closeModal) initialFocus=".au-c-modal__title" clickOutsideDeactivates=true)}}>
      <div class="au-c-modal__header">
        <h1 id="au-c-modal-title-{{@id}}" class="au-c-modal__title" tabindex="-1">
          {{@modalTitle}}
        </h1>
        <button type="button" {{on "click" @closeModal}} class="au-c-modal__close">
          <AuIcon @icon="cross" @size="large" />
          <span class="au-u-hidden-visually">Venster sluiten</span>
        </button>
      </div>
      {{yield}}
    </div>
  {{/in-element}}
{{/if}}