<div class="au-c-popover" ...attributes>
  <div class="au-c-popover__toggle">
    <div class="au-c-popover__name">
      {{@popoverTitle}}
    </div>
    <button {{on "click" this.openPopover}} {{on "keydown" this.tabPopover}} class="au-c-popover__button" aria-haspopup="true" aria-expanded="{{if this.popoverOpen "true" "false"}}">
      <AuIcon @icon="arrows-up-down" />
      <span class="au-u-hidden-visually">{{@popoverButtonLabel}}</span>
    </button>
  </div>
  {{#if this.popoverOpen}}
  <ClickOutside @onClickOutside={{this.closePopover}} id="account" class="au-c-popover__menu" role="menu" tabindex="-1" {{on "keydown" this.escapePopover}} {{did-insert this.focusPopover}}>
    {{yield}}
  </ClickOutside>
  {{/if}}
</div>