{{#if @onClickAction}}
  <span class="au-c-pill-container">
    <span
      class="au-c-pill {{this.skin}} {{this.size}} {{this.draft}}"
      ...attributes
    >
      {{#if @icon}}
        {{#if (not-eq @iconAlignment "right")}}
          <AuIcon @icon="{{@icon}}" />
        {{/if}}
      {{/if}}
      {{#if @hideText}}
        <span class="au-u-hidden-visually">{{yield}}</span>
      {{else}}
        {{yield}}
      {{/if}}
      {{#if @icon}}
        {{#if (eq @iconAlignment "right")}}
          <AuIcon @icon="{{@icon}}" />
        {{/if}}
      {{/if}}
    </span>
    <button
      class="au-c-pill-action {{this.actionSize}} {{this.skin}}"
      type="button"
      {{on "click" @onClickAction}}
    >
      <AuIcon @icon="{{@actionIcon}}" />
      <span class="au-u-hidden-visually">{{@actionText}}</span>
    </button>
  </span>
{{else}}
  {{#if @route}}
    <LinkTo
      class="au-c-pill au-c-pill--hover {{this.skin}} {{this.size}} {{this.draft}}"
      @route={{@route}}
      @models={{this.linkToModels @model @models}}
      @query={{this.queryParams}}
      ...attributes
    >
      {{#if @icon}}
        {{#if (not-eq @iconAlignment "right")}}
          <AuIcon @icon="{{@icon}}" />
        {{/if}}
      {{/if}}
      {{#if @hideText}}
        <span class="au-u-hidden-visually">{{yield}}</span>
      {{else}}
        {{yield}}
      {{/if}}
      {{#if @icon}}
        {{#if (eq @iconAlignment "right")}}
          <AuIcon @icon="{{@icon}}" />
        {{/if}}
      {{/if}}
    </LinkTo>
  {{else if @href}}
    <a
      href={{@href}}
      class="au-c-pill au-c-pill--hover {{this.skin}} {{this.size}} {{this.draft}}"
      ...attributes
    >
      {{#if @icon}}
        {{#if (not-eq @iconAlignment "right")}}
          <AuIcon @icon="{{@icon}}" />
        {{/if}}
      {{/if}}
      {{#if @hideText}}
        <span class="au-u-hidden-visually">{{yield}}</span>
      {{else}}
        {{yield}}
      {{/if}}
      {{#if @icon}}
        {{#if (eq @iconAlignment "right")}}
          <AuIcon @icon="{{@icon}}" />
        {{/if}}
      {{/if}}
    </a>
  {{else}}
    <span
      class="au-c-pill {{this.skin}} {{this.size}} {{this.draft}}"
      ...attributes
    >
      {{#if @icon}}
        {{#if (not-eq @iconAlignment "right")}}
          <AuIcon @icon="{{@icon}}" />
        {{/if}}
      {{/if}}
      {{#if @hideText}}
        <span class="au-u-hidden-visually">{{yield}}</span>
      {{else}}
        {{yield}}
      {{/if}}
      {{#if @icon}}
        {{#if (eq @iconAlignment "right")}}
          <AuIcon @icon="{{@icon}}" />
        {{/if}}
      {{/if}}
    </span>
  {{/if}}
{{/if}}