<div class="au-time-picker" >
  <div class="au-time-picker__box">
    <AuLabel for="input-hour">{{@hoursLabel}}</AuLabel>
    <div class="au-time-picker__input-wrapper">
      <AuInput class="au-time-picker__input" value={{format-time this.hourValue}} name="input-hour" id="input-hour"
        {{on 'keyup' (fn this.setTimeValue "hourValue")}}
        {{on 'focusout' (fn this.updateTime "hourValue")}}
      />
      <div class="au-time-picker__button-wrapper">
        <button type="button" aria-label="increment hours" {{on 'click' (fn this.increment "hourValue")}} aria-controls="input-hour"  class="au-time-picker__button">+</button>
        <button type="button" aria-label="decrement hours" {{on 'click' (fn this.decrement "hourValue")}} aria-controls="input-hour" class="au-time-picker__button">-</button>
      </div>
    </div>
  </div>

  <span class="au-time-picker__separator">:</span>

  <div class="au-time-picker__box">
    <AuLabel for="input-minute">{{@minutesLabel}}</AuLabel>
    <div class="au-time-picker__input-wrapper">
      <AuInput class="au-time-picker__input" value={{format-time this.minuteValue}} name="input-minute" id="input-minute"
        {{on 'keyup' (fn this.setTimeValue "minuteValue")}}
        {{on 'focusout' (fn this.updateTime "minuteValue")}}
      />
      <div class="au-time-picker__button-wrapper">
        <button aria-label="increment minutes" {{on 'click' (fn this.increment "minuteValue")}} type="button" aria-controls="input-minute" class="au-time-picker__button">+</button>
        <button aria-label="decrement minutes" {{on 'click' (fn this.decrement "minuteValue")}} type="button" aria-controls="input-minute" class="au-time-picker__button">-</button>
      </div>
    </div>
  </div>

  <span class="au-time-picker__separator">:</span>

  <div class="au-time-picker__box">
    <AuLabel for="input-second">{{@secondsLabel}}</AuLabel>
    <div class="au-time-picker__input-wrapper">
      <AuInput class="au-time-picker__input" value={{format-time this.secondValue}} name="input-second" id="input-second"
        {{on 'keyup' (fn this.setTimeValue "secondValue")}}
        {{on 'focusout' (fn this.updateTime "secondValue")}}
      />
      <div class="au-time-picker__button-wrapper">
        <button aria-label="increment seconds" {{on 'click' (fn this.increment "secondValue")}} type="button" aria-controls="input-second" class="au-time-picker__button">+</button>
        <button aria-label="decrement seconds" {{on 'click' (fn this.decrement "secondValue")}} type="button" aria-controls="input-second" class="au-time-picker__button">-</button>
      </div>
    </div>
  </div>
  <div class="au-time-picker__box">
    <AuButton class="au-time-picker__current" {{on 'click' this.setCurrentTime}}>
      {{@nowLabel}}
    </AuButton>
  </div>

  <span class="au-u-hidden-visually">{{this.hourValue}} {{@hoursLabel}}, {{this.minuteValue}} {{@minutesLabel}}, {{this.secondValue}} {{@secondsLabel}}.</span>
</div>