<div class="au-c-time-picker" >
  <div class="au-c-time-picker__box">
    <AuLabel for="input-hour" data-test-autimepicker-hourlabel>{{@hoursLabel}}</AuLabel>
    <div class="au-c-time-picker__input-wrapper">
      <AuInput
        class="au-c-time-picker__input"
        name="input-hour"
        id="input-hour"
        data-test-autimepicker-hourinput
        @value={{this.hourValueFormatted}}
        {{on 'keyup' (fn this.timeValueKeyPress "hourValue")}}
        {{on 'input' (fn this.validateTime "hourValue")}}
      />
      <div class="au-c-time-picker__button-wrapper">
        <button
          type="button"
          aria-label="increment hours"
          aria-controls="input-hour"
          class="au-c-time-picker__button"
          data-test-autimepicker-hourincrement
          {{on 'click' (fn this.increment "hourValue")}}>
          +
        </button>
        <button
          type="button"
          aria-label="decrement hours"
          aria-controls="input-hour"
          class="au-c-time-picker__button"
          data-test-autimepicker-hourdecrement
          {{on 'click' (fn this.decrement "hourValue")}}>
          -
        </button>
      </div>
    </div>
  </div>

  <span class="au-c-time-picker__separator">:</span>

  <div class="au-c-time-picker__box">
    <AuLabel for="input-minute" data-test-autimepicker-minutelabel>{{@minutesLabel}}</AuLabel>
    <div class="au-c-time-picker__input-wrapper">
      <AuInput
        class="au-c-time-picker__input"
        name="input-minute"
        id="input-minute"
        data-test-autimepicker-minuteinput
        @value={{this.minuteValueFormatted}}
        {{on 'keyup' (fn this.timeValueKeyPress "minuteValue")}}
        {{on 'input' (fn this.validateTime "minuteValue")}}
      />
      <div class="au-c-time-picker__button-wrapper">
        <button
          aria-label="increment minutes"
          type="button"
          aria-controls="input-minute"
          class="au-c-time-picker__button"
            data-test-autimepicker-minuteincrement
          {{on 'click' (fn this.increment "minuteValue")}}>
          +
        </button>
        <button
          aria-label="decrement minutes"
          type="button"
          aria-controls="input-minute"
          class="au-c-time-picker__button"
            data-test-autimepicker-minutedecrement
          {{on 'click' (fn this.decrement "minuteValue")}}>
          -
        </button>
      </div>
    </div>
  </div>

  {{#if this.showSeconds}}
    <span class="au-c-time-picker__separator">:</span>

    <div class="au-c-time-picker__box">
      <AuLabel for="input-second" data-test-autimepicker-secondlabel>{{@secondsLabel}}</AuLabel>
      <div class="au-c-time-picker__input-wrapper">
        <AuInput
          class="au-c-time-picker__input"
          name="input-second"
          id="input-second"
          data-test-autimepicker-secondinput
          @value={{this.secondValueFormatted}}
          {{on 'keyup' (fn this.timeValueKeyPress "secondValue")}}
          {{on 'input' (fn this.validateTime "secondValue")}}
        />
        <div class="au-c-time-picker__button-wrapper">
          <button
            aria-label="increment seconds"
            type="button"
            aria-controls="input-second"
            class="au-c-time-picker__button"
            data-test-autimepicker-secondincrement
            {{on 'click' (fn this.increment "secondValue")}}>
            +
          </button>
          <button
            aria-label="decrement seconds"
            type="button"
            aria-controls="input-second"
            class="au-c-time-picker__button"
            data-test-autimepicker-seconddecrement
            {{on 'click' (fn this.decrement "secondValue")}}>
            -
          </button>
        </div>
      </div>
    </div>
  {{/if}}

  {{#if this.showNow}}
    <div class="au-c-time-picker__box">
      <AuButton
        class="au-c-time-picker__current"
        data-test-autimepicker-nowbutton
        {{on 'click' this.setCurrentTime}}>
        {{@nowLabel}}
      </AuButton>
    </div>
  {{/if}}

  <span class="au-u-hidden-visually">{{this.hourValue}} {{@hoursLabel}}, {{this.minuteValue}} {{@minutesLabel}}, {{this.secondValue}} {{@secondsLabel}}.</span>
</div>
