{{#if this.toaster.toasts.length}}
  <div class="au-c-toaster {{this.position}}">
    {{#each this.toaster.toasts as |toast|}}
      {{#if toast.component}}
        <toast.component
          @options={{toast.options}}
          @close={{fn this.closeToast toast}}
        />
      {{else}}
        <AuAlert
          @title={{toast.title}}
          @skin={{toast.options.type}}
          @icon={{toast.options.icon}}
          @size="small"
          @closable={{toast.options.closable}}
          @onClose={{fn this.closeToast toast}}
        >
          {{#if toast.message}}
            <p>{{toast.message}}</p>
          {{/if}}
        </AuAlert>
      {{/if}}
    {{/each}}
  </div>
{{/if}}