<label for="{{@identifier}}" class="au-c-toggle-switch {{this.disabled}}">
  <Input class="au-c-toggle-switch__input au-u-hidden-visually" id="{{@identifier}}" name="{{@name}}" @type="checkbox" @checked={{@checked}} disabled={{@disabled}}  {{on "change" this.onChange}} ...attributes />
  <span class="au-c-toggle-switch__toggle"></span>
  <span class="au-c-toggle-switch__label">{{@label}}</span>
</label>
