<span
  class="au-c-data-table__header-title au-c-data-table__header-title--sortable
    {{if this.isSorted ' is-active'}}"
>
  {{this.label}}
  {{#if (eq this.order "desc")}}
    <button
      class="au-c-data-table__sort"
      type="button"
      {{on "click" this.inverseSorting}}
    >
      <span class="au-u-hidden-visually">Oplopend sorteren</span>
      <AuIcon @icon={{this.NavUpIcon}} />
    </button>
  {{else if (eq this.order "asc")}}
    <button
      class="au-c-data-table__sort"
      type="button"
      {{on "click" this.inverseSorting}}
    >
      <span class="au-u-hidden-visually">Aflopend sorteren</span>
      <AuIcon @icon={{this.NavDownIcon}} />
    </button>
  {{else}}
    <button
      class="au-c-data-table__sort"
      type="button"
      {{on "click" this.inverseSorting}}
    >
      <span class="au-u-hidden-visually">Sorteren</span>
      <AuIcon @icon={{this.NavUpDownIcon}} />
    </button>
  {{/if}}
</span>