<AuContent>
  <AuHeading @level="1" @skin="4">
    Toaster service
  </AuHeading>
  <p>Add <AuPill>{{'<AuToaster />'}}</AuPill> to your main template.</p>

  <div class="au-o-flow au-o-flow--tiny">
    <AuHeading @level="2" @skin="5">
      Triggering a toast.
    </AuHeading>
    <p>Using the service: <AuPill>{{"this.toaster.notify('Message','Title',{ timeOut: 5000 });"}}</AuPill>.</p>
  </div>

  <div class="au-o-flow au-o-flow--tiny">
    <AuHeading @level="2" @skin="5">
      Types
    </AuHeading>
    <p class="au-u-margin-bottom-small">Notify: <AuPill>{{"this.toaster.notify('Message','Title',{ timeOut: 5000 });"}}</AuPill>.</p>

    <AuButton @skin="secondary" {{on "click" this.triggerToast}}>Trigger notify toast</AuButton>

    <AuHr/>

    <p class="au-u-margin-bottom-small">Success: <AuPill>{{"this.toaster.success('Test','Title',{ timeOut: 5000 });"}}</AuPill>.</p>

    <AuButton @skin="secondary" {{on "click" this.triggerSuccessToast}}>Trigger success toast</AuButton>

    <AuHr/>

    <p class="au-u-margin-bottom-small">Loading: <AuPill>{{"this.toaster.warning('Message','Title',{ timeOut: 5000 });"}}</AuPill>.</p>

    <AuButton @skin="secondary" {{on "click" this.triggerWarningToast}}>Trigger warning toast</AuButton>

    <AuHr/>

     <p class="au-u-margin-bottom-small">Error: <AuPill>{{"this.toaster.error('Message','Title',{ timeOut: 5000 });"}}</AuPill>.</p>

    <AuButton @skin="secondary" {{on "click" this.triggerErrorToast}}>Trigger error toast</AuButton>

    <AuHr/>

    <p class="au-u-margin-bottom-small">Loading: <AuPill>{{"this.toaster.loading('Message','Title',{ timeOut: 5000 });"}}</AuPill>.</p>

    <AuButton @skin="secondary" {{on "click" this.triggerLoadingToast}}>Trigger loading toast</AuButton>
  </div>

  <div class="au-o-flow au-o-flow--tiny">
    <AuHeading @level="2" @skin="5">
      Closable
    </AuHeading>
    <p class="au-u-margin-bottom-small">Closable: <AuPill>{{"this.toaster.notify('Message','Title',{ closable: true });"}}</AuPill>.</p>

    <AuButton @skin="secondary" {{on "click" this.triggerClosableToast}}>Trigger closable toast</AuButton>
  </div>

</AuContent>