{{#if @badgeIcon}}
  <AuBadge @size="{{@badgeSize}}" @skin="{{@badgeSkin}}" @size="{{@badgeSize}}" @icon="{{@badgeIcon}}" />
{{else if @badgeNumber}}
  <AuBadge @size="{{@badgeSize}}" @skin="{{@badgeSkin}}" @number="{{@badgeNumber}}" @icon="{{@badgeIcon}}" />
{{/if}}

{{#if (has-block)}}
<div>
  {{yield "header"}}
</div>
{{/if}}